.widget-size {
  width: 200px;
  height: 200px;
  font-size: 32px;
  display: flex;
}

.alert-box {
  border: 1px solid black;
}

.foo-style {
  background-color: blue;
}

.bar-style {
  text-decoration: line-through;
}